0 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.blijdorp >> /home/deploy/scrapers.log 2>&1
10 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.maarten >> /home/deploy/scrapers.log 2>&1
20 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.vandevijver >> /home/deploy/scrapers.log 2>&1
30 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.voorberg >> /home/deploy/scrapers.log 2>&1
40 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.baljon >> /home/deploy/scrapers.log 2>&1
50 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.woonvisie >> /home/deploy/scrapers.log 2>&1

15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.vankleef >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.m1 >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.de >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.prins >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.lokkerbol >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.vanoosten >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.ooms >> /home/deploy/scrapers.log 2>&1
15 * * * * cd /home/deploy/mothership/makelaardij-notify/server && /home/deploy/.cache/pypoetry/virtualenvs/makenot-vz4WlRL2-py3.8/bin/python -m app.scrapers.teriele >> /home/deploy/scrapers.log 2>&1